@import 'tailwindcss';


html, body {
  margin: 0;
  padding: 0;
  background-color: #0f172a; 
  overflow-x: hidden; 
}

body {
  overscroll-behavior-y: auto;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

.markdown-excerpt * {
  background-color: transparent !important;
  background: none !important;
}

.markdown-excerpt code {
  background-color: rgba(55, 65, 81, 0.5) !important;
  padding: 2px 4px;
  border-radius: 3px;
}

.markdown-excerpt pre {
  background-color: rgba(31, 41, 55, 0.5) !important;
  padding: 8px;
  border-radius: 6px;
}

.markdown-excerpt .wmde-markdown,
.markdown-excerpt .wmde-markdown-var {
  background-color: transparent !important;
}

input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;  /* slate-600 */
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* slate-500 */
}

